# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Ansible/Terraform
*.retry
.terraform/
terraform.tfstate*
*.tfvars

# Secrets (commit examples not real secrets)
secrets/
*.key
*.pem

# Python
.venv/
venv/
ENV/
__pycache__/
*.py[cod]
