site_name: Documentation Station
site_url: https://odonnellrory.github.io/
repo_url: https://github.com/odonnellrory/odonnellrory.github.io
repo_name: odonnellrory/odonnellrory.github.io
edit_uri: blob/main/docs/         

# Configuration
theme:
  name: material
  custom_dir: docs/
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  palette:
    primary: black
    scheme: slate

# Plugins
plugins:
  - search
  - awesome-pages                
  - minify                        
  - glightbox                      
  - git-revision-date-localized:
      type: date
      enable_creation_date: true

markdown_extensions:
  - admonition
  - def_list
  - footnotes
  - attr_list
  - toc:
      permalink: true
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.emoji
  - pymdownx.tasklist

use_directory_urls: true          

# Fail builds on errors
strict: true                      

# Social
extra:
  social:
    - icon: fontawesome/brands/git-alt
      link: https://github.com/odonnellrory
