* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.nav-list li a:hover {
    color: #ff6347; /* Tomato color */
}

main {
    flex: 1;
    padding-top: 70px; /* Adjusted padding to ensure space for the fixed header */
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#about-me img {
    border-radius: 50%;
    margin-right: 2rem;
    width: 150px;
    height: 150px;
}

#about-me div {
    max-width: 800px;
}

#about-me h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;
}

#about-me p {
    margin-bottom: 1rem;
}

#about-me h3 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
